%table.list
  %thead
    %tr
      %th Name
      %th.attendance{ :style => 'width: 15%' } Attendance
  %tbody
    - @attendees.each do |attendee|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_member(attendee.member)
        %td.attendance
          = progress_bar(attendee.attendance * 100, :container_width => 75)
          = raid_attendance_colored(attendee.attendance)