%table.list
  %thead
    %tr
      %th Name
      %th.attendance Attendance
  %tbody
    - @attendees.each do |attendee|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_member(attendee.member)
        %td.attendance= raid_attendance_colored(attendee.attendance)