%table.ipb_table
  %thead
    %tr
      %th Name
      %th Notes
      %th Falls Off
      %th.date Raid
      %th.number Price
  %tbody#loots.filterable
    = render :partial => 'loot', :collection => @loots
= will_paginate(@loots, :renderer => TwitterPagination::LinkRenderer, :id => 'loots_pagination')
