%tr{ :class => cycle('row1', 'row2') + raid_date_classes(raid) }
  %td.date
    = link_to h(raid.date), raid_path(raid)
    = render :partial => 'shared/moderation', :object => raid if admin?
  %td.attendance= member_raid_attendance(raid, @member)
  %td.note= h(raid.note)
