%table.ipb_table
  %thead
    %tr
      %th.date Date
      %th.attendance Attendance
      %th.note Note
  %tbody#raids
    = render :partial => 'raid', :collection => @raids
= will_paginate(@raids, :renderer => TwitterPagination::LinkRenderer, :id => 'raids_pagination')
