@import constants.sass

*
  :padding 0
  :margin 0

body
  :font-size 68%
  :font-family = !default_font_family
  :margin 0
  :padding 0
  :min-width 600px
  &, a
    :color #484848

h1
  :font-size 2em
  :padding 0
  :margin 0

h2
  :border-bottom 1px solid #BBBBBB
  :color #444444
  :margin 0 0 10px 0
  :padding 2px 10px 1px 0
  a
    :text-decoration none
    
abbr
  :cursor help
  
input[type=hidden]
  :display none
    
// WoW Class Colors
.Death, .Knight
  &, &:link, &:visited
    :color = #C41E3B
.Druid
  &, &:link, &:visited
    :color = #FF7C0A - 20
.Hunter
  &, &:link, &:visited
    :color = #AAD372 - 80
.Mage
  &, &:link, &:visited
    :color = #68CCEF
.Paladin
  &, &:link, &:visited
    :color = #F48CBA - 30
.Shaman
  &, &:link, &:visited
    :color = #567EFF
.Priest
  &, &:link, &:visited
    :color = #FFFFFF - 100
.Rogue
  &, &:link, &:visited
    :color = #FFF468 - 65
.Warlock
  &, &:link, &:visited
    :color = #9382C9 - 20
.Warrior
  &, &:link, &:visited
    :color = #C69B6D - 60

// Positive/Negative
.positive
  :color = #249901
.negative
  :color #990000
  
// Success/Failure flash notice divs
div.success, div.error
  :font-size 1.1em
  :margin 5px 0
  :padding 10px 15px
div.success
  :background-color #DFF2D9
  :border 1px solid #84CD6E
  :color #249901
div.error
  :background-color #FAD3C5
  :border 1px solid #F03A31
  :color #F03A31

// Progress Bars - http://blog.leetsoft.com/2006/8/22/super-simple-css-bars
// Also see http://wiki.github.com/paolodona/rails-widgets/progressbar
div.progress-container
  :border 1px solid #ccc
  :width 90%
  :margin 2px 5px 2px 0
  :padding 1px
  :float left
  :background white
  div
    :height 12px