@import constants.sass

#wrapper
  :background-color = !wrapper_background
    
// Top Menu -------------------------------------------------------------------
#top-menu
  :background-color = !top_menu_background
  :font-size 1.2em
  :height 1.8em
  :color white
  :font-weight bold
  a
    :text-decoration none
    :color white
  ul
    :list-style-type none
    :margin 0
    :white-space nowrap
    :float left
    :padding 4px 0 0 0
  ul#right
    :float right
    li
      :padding 0 9px
  li
    :float left
    :height 1.5em
    :padding 0 8px
    
// Header ---------------------------------------------------------------------
#header
  :background-color = !header_background
  :height 2.8em
  :margin 0
  :padding 4px 8px 0 6px
  :position relative
  &, a
    :color = !header_color
    
// Main Menu ------------------------------------------------------------------
#main-menu
  :bottom 0
  :left 6px
  :position absolute
  ul
    :margin 0
    :padding 0
  li
    :list-style-type none
    :float left
    :margin 0 2px 0 0
    :padding 0
    :white-space nowrap
    a
      :color = !top_menu_color
      :display block
      :font-weight bold
      :margin 0 5px 0 0
      :padding 4px 10px
      :text-decoration none
      &:hover
        :background = !wrapper_background
        :color #000000
      &.selected, &.selected:hover
        :background = !wrapper_background
        :color #555555
        
// Main (Content) -------------------------------------------------------------
#main
  :background-color = !wrapper_background
  :padding 15px
  :max-width 95%
  #sidebar
    :background-color = !table_header_background
    :border
      :width 1px
      :style solid
      :color = !table_border_color
    :width 280px
    :padding 10px
    :position fixed
    :top 115px
    ul
      :margin 3px 20px
      li
        :padding 2px
  #content
    :margin-left 325px
    
// Index#index ----------------------------------------------------------------
#index
  .record_group
    :min-width 300px
    :display block
    :float left
    :margin 0 15px 15px 0
    h4
      :margin 0 0 2px 0
  
// Members#show ---------------------------------------------------------------
#members
  #stats
    :text-align center
    :border-bottom
      :width 1px
      :style solid
      :color = !h2_border_color
    :padding-bottom 10px
    :margin-bottom 10px
    h3
      :display inline
      :font 3em Georgia
      :margin 0
      span.small
        :vertical-align middle
        :font = 14px Georgia, serif
        :margin 0 60px 0 -3px
      
// Wishlist item group --------------------------------------------------------
div.loot_table
  h4
    span
      :width 30%
    img
      :float right
      
// Raids#show -----------------------------------------------------------------
#raids
  #attendees
    h4
      :padding-left 22px
      :background-repeat no-repeat
      :background-position center left
    h4.Death_Knight
      :background-image url(/images/classes/death_knight.gif)
    h4.Druid
      :background-image url(/images/classes/druid.gif)
    h4.Hunter
      :background-image url(/images/classes/hunter.gif)
    h4.Mage
      :background-image url(/images/classes/mage.gif)
    h4.Paladin
      :background-image url(/images/classes/paladin.gif)
    h4.Priest
      :background-image url(/images/classes/priest.gif)
    h4.Rogue
      :background-image url(/images/classes/rogue.gif)
    h4.Shaman
      :background-image url(/images/classes/shaman.gif)
    h4.Warlock
      :background-image url(/images/classes/warlock.gif)
    h4.Warrior
      :background-image url(/images/classes/warrior.gif)
      
    // Break after 5 classes
    div#Priest
      :clear left
    .class_group
      :width 20%
      :display block
      :float left
      :margin 0 0 15px 0
      h4
        :margin 0
      ul
        :list-style-type none
        li
          :width 60%
          :padding 2px 0
          span
            :float right
  #drops
    :clear left