// Background color of the item the tabs are attaching to
!attach_bg = #EEEEEE
// Border color of the item the tabs are attaching to
!attach_border = #E4E4E4

.ui-tabs
  .ui-tabs-nav
    :padding 10px 15px
    :list-style-type none
    li
      :position relative
      :bottom -1px
      :display inline
      a
        :background-color #FFFFFF
        :border 0
        :text-decoration none
        :font-weight bold
        :padding 8px 14px
        &:hover
          :background-color = !attach_bg
          :border-bottom
            :width 1px
            :color = !attach_bg
    .ui-tabs-selected
      a
        :background-color = !attach_bg
        :border
          :width 1px
          :style solid
          :color = !attach_border
        :border-bottom
          :width 1px
          :style solid
          :color = !attach_bg
  // Hidden tab content
  .ui-tabs-hide
    :display none !important