h2 a {
  text-decoration: none; }

.Death, .Death:link, .Death:visited, .Knight, .Knight:link, .Knight:visited {
  color: #c41e3b; }

.Druid, .Druid:link, .Druid:visited {
  color: #eb6800; }

.Hunter, .Hunter:link, .Hunter:visited {
  color: #5a8322; }

.Mage, .Mage:link, .Mage:visited {
  color: #68ccef; }

.Paladin, .Paladin:link, .Paladin:visited {
  color: #d66e9c; }

.Shaman, .Shaman:link, .Shaman:visited {
  color: #567eff; }

.Priest, .Priest:link, .Priest:visited {
  color: #9b9b9b; }

.Rogue, .Rogue:link, .Rogue:visited {
  color: #beb327; }

.Warlock, .Warlock:link, .Warlock:visited {
  color: #7f6eb5; }

.Warrior, .Warrior:link, .Warrior:visited {
  color: #8a5f31; }

.positive {
  color: #008300; }

.negative {
  color: #a1000e; }

div.progress-container {
  border: 1px solid #ccc;
  width: 90%;
  margin: 2px 5px 2px 0;
  padding: 1px;
  float: left;
  background: white; }
  div.progress-container div {
    height: 12px; }
