/* @group WoW Classes */
.Death, .Death:link, .Death:visited			{ color: #C41E3B; }
.Druid, .Druid:link, .Druid:visited			{ color: #FF7C0A; }
.Hunter, .Hunter:link, .Hunter:visited		{ color: #AAD372; }
.Knight, .Knight:link, .Knight:visited		{ }
.Mage, .Mage:link, .Mage:visited			{ color: #68CCEF; }
.Paladin, .Paladin:link, .Paladin:visited	{ color: #F48CBA; }
.Shaman, .Shaman:link, .Shaman:visited		{ color: #567EFF; }
.Priest, .Priest:link, .Priest:visited		{ color: #FFFFFF; }
.Rogue, .Rogue:link, .Rogue:visited			{ color: #FFF468; }
.Warlock, .Warlock:link, .Warlock:visited	{ color: #9382C9; }
.Warrior, .Warrior:link, .Warrior:visited	{ color: #C69B6D; }
/* @end */

/* @group Tabs */
#member_tabs {
  height: 1.9em;
  margin-left: 0;
  padding: 0;
  background: url(http://www.juggernautguild.com/apply/img/tab_bottom.gif) repeat-x bottom;
  clear: both;
}
#member_tabs li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
#member_tabs li a:link, #member_tabs li a:visited {
  float: left;
  background: #1d1d1d;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  margin-right: 4px;
  border: 1px solid #000;
  text-decoration: none;
  color: #666;
}
#member_tabs li a img { 
  top: 5px; 
  position: relative; 
}
#member_tabs li a:link.active, #member_tabs li a:visited.active {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
#member_tabs li a:hover {
  background: #000;
  color: #fff;
  border: 1px solid #3a0000;
  border-bottom: 1px solid #000;
}
/* @end */

#content table {
  width: 100%;
  padding: 0;
  margin: 0;
}

th, td {
  padding: 0 5px;
  margin: 0;
}

div.right, th.right, td.right {
  text-align: right;
  padding-right: 5px;
}

div.center, th.center, td.center {
  text-align: center;
  padding: 0;
}

fieldset {
  background: #101010;
  padding: 15px;
}

fieldset select {
  margin: 5px;
}

fieldset legend {
  font-size: 150%;
  font-weight: bold;
  background: #101010;
  padding: 5px;
  border-top: 1px solid #000000;
}

fieldset label {
  font-size: 125%;
  font-weight: bold;
}

#raid_form div.attendance {
  float: left;
}

#raid_form div.loot {
  float: right;
}

#raid_form div.attendance_loot {
  padding: 1px 0;
}