table {
  width: 100%;
  padding: 0;
  margin: 0;
}

th, td {
  padding: 0 5px;
  margin: 0;
}

div.right, th.right, td.right {
  text-align: right;
  padding-right: 5px;
}

div.center, th.center, td.center {
  text-align: center;
  padding: 0;
}

fieldset {
  background: #101010;
  padding: 15px;
}

fieldset select {
  margin: 5px;
}

fieldset legend {
  font-size: 150%;
  font-weight: bold;
  background: #101010;
  padding: 5px;
  border-top: 1px solid #000000;
}

fieldset label {
  font-size: 125%;
  font-weight: bold;
}