table {
  width: 100%;
  padding: 0;
  margin: 0;
}

th, td {
  padding: 0 5px;
  margin: 0;
}

div.right, th.right, td.right {
  text-align: right;
  padding-right: 5px;
}

div.center, th.center, td.center {
  text-align: center;
  padding: 0;
}

fieldset {
  background: #101010;
  padding: 15px;
}

fieldset select {
  margin: 5px;
}

fieldset legend {
  font-size: 150%;
  font-weight: bold;
  background: #101010;
  padding: 5px;
  border-top: 1px solid #000000;
}

fieldset label {
  font-size: 125%;
  font-weight: bold;
}

#raid_form div.attendance {
  float: left;
}

#raid_form div.loot {
  float: right;
}

#raid_form div.attendance_loot {
  padding: 1px 0;
}

/* Nav Bar Thingy */
#navbar {
  width: 100%;
  height: 1.5em;
}

ul.tabs {
  list-style: none;
  padding: 0;
}

ul.tabs li {
  display: inline;
}

ul.tabs li a {
	background-color:#464c54;
	color:#ffebb5;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #464c54; 
}
ul.tabs li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}
ul.tabs li a.active {
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #464c54; 
	border-bottom: 1px solid #ffffff;
}