/* 
 * Mouthful of Poison Skin IPB 2.2 by Andrea Blalock (prettyflesh.com/invisionmojo.com)
 * This skin is free to use as long as you do not remove my credit at the bottom of the skin!
 * You may edit the skin, but do not take ANY of the images from the skin and use it on a different or new skin. This includes the images in the editors, topic, forum, profile, etc)
 * fleshy@gmail.com to report piracy or for any comments or questions
 */

/* 
 * ========================================
 * global element styles 
 * ========================================
 */

html {
  overflow-x: auto

;
/* fixes MSIE scrollbar bug DO NOT REMOVE, has no effect in Mozilla, or Opera */
}

body {
  background: #242424;
  color: #8F8F8F;
  font-family: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
  font-size: 11px;
  line-height: 135%;
  margin: 0px;
  padding

: 0px;
  /* required for Opera to have 0 margin */
	text-align:

center;
/* centers board in MSIE */
}

/* 
 * ========================================
 * Set up IPB table
 * ========================================
 */

.ipbtable {
  width: 100%
}

table.ipbtable,
tr.ipbtable,
td.ipbtable {


/* required for text in tables, because tables do not inherit from body */
	background: transparent;
  color: #AEAEAE;
  font-size: 11px;
  line-height: 135%;
}

.ipbtable td,
.divpad {

/* gives all tables faux cellpadding of 5px */
	padding: 5px;
}

td.nopad {

/* allows some tables to have no padding on the td */
	padding: 0;
}

/* Safari... */

th {
  text-align: left;
}

form {
  display: inline;
  margin: 

0;
  /* removes mystery form tag gapping */
	padding

: 0;
/* removes mystery form tag gapping */
}

img {
  border: 0

;
  /* makes sure linked images do not have a border */
	vertical-align: middle;
}

/* 
 * ========================================
 * global hyperlink styles 
 * ========================================
 */

a:link,
a:visited,
a:active {
  background: transparent;
  color: #A61400;
  text-decoration: none;
}

a:hover {
  background: transparent;
  color: #CA0000;
}

/* 
 * ========================================
 * Custom bits and pieces 
 * ========================================
 */

#fleshset {
  margin: 0 auto 0 auto;
  text-align: left;
  width: 1024px;
}

/* 
 * ========================================
 * styles for pagination links 
 * ========================================
 */

label {
  cursor: pointer;
}

.activeuserstrip {
  background: #2C2C2C;
  padding: 6px;
}

.row1 {
  background: #101010;
}

.row2 {
  background: #101010;
}

.rowhighlight {
  background-color: #171717;
}

.darkrow1 {
  background: #171717;
  color: #BBBBBB;
}

.darkrow3 {
  background: #151515;
  color: #FFFFFF;
}

/* tableborders gives the white column / row lines effect */

.plainborder,
.tablefill,
.tablepad {
  background: #1D1D1D;
  border: 1px solid #000000;
}

.tablefill,
.tablepad {
  padding: 6px;
}

.tablepad {
  border: 0 !important;
}

.wrapmini {
  float: left;
  line-height: 1.5em;
  width: 25%;
}

.pagelinks {
  float: left;
  line-height: 1.2em;
  width: 35%;
}

.desc {
  font-size: 11px;
  color: #7A7A7A;
}

.lastaction {
  font-size: 10px;
  color: #D0D0D0;
}

.edit {
  font-size: 10px;
  color: #B01500;
}

.thin {
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
  line-height: 150%;
  margin: 2px 0 2px 0;
  padding: 6px 0 6px 0;
}

/* 
 * ========================================
 * form styles 
 * ========================================
 */

.input-warn,
.input-green,
.input-checkbox,
input,
textarea,
select {
  background: #222222;
  border: 1px solid #000000;
  color: #BBBBBB;
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px;
  margin: 5px;
  padding: 2px;
  vertical-align: middle;
}

select {
  margin: 0px;
}

.input-checkbox {
  border: none;
}

.input-warn,
.input-warn-content {
  border: 1px solid #C00;
}

.input-ok,
.input-ok-content {
  border: 1px solid #0C0;
}

.input-warn-content {
  padding: 4px;
  margin: 4px;
  background-color: #480000;
}

.input-ok-content {
  padding: 4px;
  margin: 4px;
  background-color: #144800;
}

.input-text {
  color: #C3C3C3;
}

input.button {
  margin: 0;
  width: auto;
  cursor: pointer;
}

optgroup option {
  font-family: verdana, helvetica, sans-serif;
  font-size: 10px;
}

.codebuttons {
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 10px;
  vertical-align: middle;
  margin: 2px;
}

.textarea,
.searchinput,
.button,
.gobutton {
  background: #1D1D1D;
  border: 1px solid #000000;
  color: #828282;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 11px;
  padding: 2px;
  vertical-align: middle;
}

.button {
  background: #720000;
  border-top: 1px solid #A20000;
  border-left: 1px solid #A20000;
  border-bottom: 1px solid #4E0000;
  border-right: 1px solid #4E0000;
  color: #A7A7A7;
  font-weight: bold;
  font-size: 10px;
  padding: 1px;
}

.gobutton {
  background: transparent;
  border: 0;
  color: #A7A7A7;
  margin: 0;
  vertical-align: middle;
}

.radiobutton,
.checkbox,
.helpbox {
  border: 0;
  vertical-align: middle;
  background: transparent;
}

.formtable {
  background: transparent;
}

.formtable td,
.pformleft,
.pformleftw,
.pformright {
  background: #121212;
  border: 1px solid #000000;
  border-bottom: 0;
  border-left: 0;
  font-weight: bold;
  margin: 1px 0 0 0;
  padding: 6px;
  width: 25%;
}

.formtable td.wider,
.pformleftw,
.pformright {
  width: 40%;
}

.formtable td.formright,
.pformright {
  border-right: 0px;
  font-weight: normal;
  width: auto;
}

.formtable td.formtitle,
.formsubtitle {
  background: #080808;
  border: 1px solid #580000;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  font-weight: normal;
}

.formsubtitle {
  border: 0;
  color: #B6B6B6;
  font-weight: bold;
  padding: 5px;
}

.formtable td.formstrip {
  background: #101010;
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
  font-weight: normal;
}

/* 
 * ========================================
 * All New Styles 
 * ========================================
 */

.cleared {
  clear: both;
}

.borderwrap,
.borderwrapm {

/* this will affect the outlining border of all the tables and boxes through-out the skin. */
	background: #000000;
  border: 0px solid #1A1A1A;
  padding: 0px;
  margin: 0px;
}

.borderwrapm {
  margin: 5px;
}

.borderwrap h3,
.maintitle,
.maintitlecollapse {
  background: url(http://www.juggernautguild.com/style_images/mouthfulpo/maintitle.gif);
  border: 1px solid #680000;
  border-bottom: 1px solid #480000;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  padding: 6px;
}

.maintitle td {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}

.maintitlecollapse {
  border: 1px solid #480000;
}

.maintitle p,
.maintitlecollapse p,
.formsubtitle p {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.maintitle p.expand,
.maintitle p.goto,
.maintitlecollapse p.expand,
.formsubtitle p.members {
  float: right;
  width: auto !important;
}

.maintitle a:link, 
.maintitle a:visited,
.maintitlecollapse a:link, 
.maintitlecollapse a:visited {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------ */
/* Skin, colors and images by Andrea  Blalock of Prettyflesh.com
/* Do  not take any part of this skin for any use! its not permitted
/* ------------------------------------------------------------------------------ */

.maintitle a:hover, 
.maintitle a:active,
.maintitlecollapse a:hover, 
.maintitlecollapse a:active {
  background: transparent;
  color: #F1F1F1;
}

table th,
.borderwrap table th,
.subtitle,
.subtitlediv,
.postlinksbar {
  background: transparent url(http://www.juggernautguild.com/style_images/mouthfulpo/sub_tile.gif);
  border-bottom: 1px solid #3A0000;
  color: #858585;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 3px;
}

.subtitlediv {
  border: 1px solid #000000;
  border-bottom: 1px solid #3A0000;
  text-align: right;
}

.borderwrap table th a:link,
.subtitle a:link,
.subtitlediv a:link,
.borderwrap table th a:visited,
.subtitle a:visited, 
.subtitlediv a:visited, 
.borderwrap table th a:active,
.subtitle a:active,
.subtitlediv a:active,
.borderwrap table th a:hover,
.subtitle a:hover,
.subtitlediv a:hover {
  background: transparent;
  color: #5B5B5B;
  text-decoration: none;
}

.borderwrap h4 {
  background: #313131;
  border: 1px solid #121212;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #D00500;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.borderwrap p {
  background: transparent;
  border: 0;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

td.formbuttonrow,
.pformstrip,
.borderwrap p.formbuttonrow,
.borderwrap p.formbuttonrow1 {
  background: #171717 !important;
  border: 1px solid #000000;
  border-top: 1px solid #222222;
  margin: 0px !important;
  padding: 5px !important;
  text-align: center;
}

td.formbuttonrow {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.borderwrap p.formbuttonrow1 {
  background: #121212 !important;
  border: 0;
  border-top: 1px solid #222222;
}

.bar,
.barb,
.barc {
  background: #121212;
  border: 1px solid #000000;
}

.barc {
  border-bottom: 0;
}

.bar p,
.barb p,
.barc p {
  background: transparent;
  border: 0;
  color: #BBBBBB;
  font-size: 11px;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.barb p {
  text-align: right;
}

.bar p.over,
.bar p.overs,
.barc p.over,
.barc p.overs {
  float: right;
}

.barb p.over,
.barb p.overs {
  float: left;
}

.bar p.overs,
.barb p.overs,
.barc p.overs {
  position: relative;
  top: 5px;
}

.catend {
  background: #480200;
  color: #FFFFFF;
  font-size: 1px;
  height: 3px;
}

.newslink {
  background: transparent;
  border: 0;
  margin: 0;
  width: 100%;
}

.newslink td {
  color: #949494;
  font-size: 10px;
  padding: 0;
}

.newslink span {
  background: transparent;
  color: #C8C8C8;
  font-style: italic;
  font-weight: normal;
}

.newslink input {
  background: #1D1D1D;
  border: 1px solid #000000;
  color: #C3C3C3;
  font-size: 10px;
  padding: 3px;
  vertical-align: middle;
  width: auto;
}

.newslink input.button {
  background: transparent;
  border: 0;
  color: #C3C3C3;
  vertical-align: middle;
}

.fieldwrap {
  background: #222222;
  border: 1px solid #000000;
  border-top: 0;
  margin: 5px;
  padding: 0;
  text-align: left;
}

.fieldwrap h4 {
  background: #680200;
  border: 1px solid #3A0100;
  border-left: 0;
  border-right: 0;
  color: #DDDDDD;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.errorwrap {
  background: #151515;
  border: 1px solid #000000;
  border-top: 0;
  margin: 5px;
  padding: 0;
}

.errorwrap h4 {
  background: #720300;
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
  color: #DDDDDD;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.errorwrap p {
  background: transparent;
  border: 0;
  color: #A1A1A1;
  margin: 0;
  padding: 8px;
}

.ruleswrap {
  background: #171717;
  border: 1px solid #000000;
  color: #686868;
  margin: 5px 0 5px 0;
  padding: 5px;
}

#redirectwrap {
  background: #1D1D1D;
  border: 1px solid #000000;
  margin: 200px auto 0 auto;
  text-align: left;
  width: 500px;
}

#redirectwrap h4 {
  background: #680200;
  border-bottom: 1px solid #3A0100;
  color: #B9B9B9;
  font-size: 14px;
  margin: 0;
  padding: 5px;
}

#redirectwrap p {
  margin: 0;
  padding: 5px;
}

#redirectwrap p.redirectfoot {
  background: #680200;
  border-top: 1px solid #920300;
  text-align: center;
}

#gfooter {
  background: #480200;
  border: 1px solid #000000;
  margin: 5px 0 5px 0;
  padding: 0;
  width: 100%;
}

#gfooter td {
  color: #DDDDDD;
  font-size: 10px;
  padding: 4px;
}

#gfooter a:link,
#gfooter a:visited {
  color: #CCCCCC;
}

#logostrip {
  background: #000000;
  border: 0px solid #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

#logographic {
  background: transparent url(http://www.juggernautguild.com/style_images/mouthfulpo/logo4.gif) no-repeat left;
  height: 150px;
  margin: 0;
  padding: 0;
}

#submenu {
  background: transparent url(http://www.juggernautguild.com/style_images/mouthfulpo/sub_tile.gif);
  border: 1px solid #000000;
  border-bottom: 0;
  color: #949494;
  margin: 0;
  height: 28px;
  text-align: right;
}

.ipb-top-left-link,
.ipb-top-right-link {
  background: transparent;
  float: right;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 6px 0 6px 0;
  width: auto;
}

.ipb-top-left-link {
  float: left;
  border-left: 0px;
}

.ipb-top-left-link a:link, 
.ipb-top-left-link a:visited,
.ipb-top-right-link a:link, 
.ipb-top-right-link a:visited {
  background: transparent;
  color: #c60000;
  padding: 0 6px 0 6px;
  text-decoration: none;
}

.ipb-top-left-link a:hover, 
.ipb-top-left-link a:active,
.ipb-top-right-link a:hover, 
.ipb-top-right-link a:active {
  background: transparent;
  color: #da0000;
}

#userlinks,
#userlinksguest {
  background: #1D1D1D;
  border: 1px solid #000000;
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;
}

#userlinksguest {
  background: #1D1D1D;
  border: 1px solid #620200;
}

#userlinks p,
#userlinksguest p {
  background: transparent !important;
  border: 0 !important;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 !important;
  padding: 5px 0 5px 0;
  text-align: right;
}

#userlinks p,
#userlinksguest p {
  font-weight: normal;
  letter-spacing: 0;
}

#userlinks p.home,
#userlinksguest p.home {
  float: left;
}

#userlinksguest p.pcen {
  text-align: center;
}

/* ------------------------------------------------------------------------------ */
/* Skin, colors and images by Andrea Blalock of Prettyflesh.com
/* Do not take any part of this skin for any use! its not permitted
/* ------------------------------------------------------------------------------ */

#navstrip {
  background: transparent;
  color: #9A9A9A;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 14px 0px 8px 0px;
}

#navstrip a:link, 
#navstrip  a:visited {
  background: transparent;
  color: #DA0500;
  text-decoration: none;
}

#navstrip a:hover, 
#navstrip a:active {
  background: transparent;
  color: #AC0400;
}

.toplinks {
  background: transparent;
  color: #000;
  margin: 0;
  padding: 0 0 5px 0;
  text-align: right;
}

.toplinks span {
  background: #1F1F1F;
  border: 1px solid #000000;
  border-bottom: 0;
  color: #B4B4B4;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px 0 0;
  padding: 5px;
}

.copyright {
  background: transparent;
  font-size: 11px;
  margin: 0 0 5px 0;
  padding: 2px;
}