/*
Main text:					#484848
Top Menu background: 		#602020
Header background:			#8A4040
Header text:				#F8F8F8
*/

body {
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 600px;
}

body, a {
  color: #484848;
}

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h2 {
  border-bottom: 1px solid #bbb;
  color: #444;
  margin: 0 0 10px 0;
  padding: 2px 10px 1px 0;
}

/* @group Layout */

#wrapper {
  background: white none repeat scroll 0 0;
}

#top-menu {
  background: #602020 none repeat scroll 0 0;
  font-size: 1.2em;
  height: 1.8em;
/*padding: 2px 2px 0 6px;*/
  color: white;
  font-weight: bold;
}

#header {
  background-color: #8A4040;
  height: 2.8em;
  margin: 0;
  padding: 4px 8px 0 6px;
  position: relative;
}

#header, #header a {
  color: #F8F8F8;
}

/* @end */

/* @group Header */

#main-menu {
  bottom: 0;
  left: 6px;
  position: absolute;
}

#main-menu ul {
  margin: 0;
  padding: 0;
}

#main-menu li {
  list-style-type: none;
  float: left;
  margin: 0 2px 0 0;
  padding: 0;
  white-space: nowrap;
}

#main-menu li a {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px;
  text-decoration: none;
}

#main-menu li a:hover {
  background: #759FCF none repeat scroll 0 0;
  color: #FFFFFF;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
  background: #FFFFFF none repeat scroll 0 0;
  color: #555555;
}

#main {
  background-color: #FFFFFF;
  padding: 15px;
  max-width: 80%;
}

/* @end */

/* @group Top Menu */

#top-menu a {
  text-decoration: none;
  color: white;
}

#top-menu ul {
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
  float: left;
  padding: 4px 0 0 0;
}

#top-menu li {
  float: left;
  height: 1.5em;
  padding: 0 8px;
}

#top-menu ul#right {
  float: right;
}

#top-menu ul#right li {
  float: right;
  padding: 0 9px;
}

/* @end */

/* @group Tables */

table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td { vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}

th {
   text-align: left;
}

tr.issue { text-align: center; white-space: nowrap; }
tr.issue td.subject, tr.issue td.category, td.assigned_to { white-space: normal; }
tr.issue td.subject { text-align: left; }
tr.issue td.done_ratio table.progress { margin-left:auto; margin-right: auto;}

tr.entry { border: 1px solid #f8f8f8; }
tr.entry td { white-space: nowrap; }
tr.entry td.filename { width: 30%; }
tr.entry td.size { text-align: right; font-size: 90%; }
tr.entry td.revision, tr.entry td.author { text-align: center; }
tr.entry td.age { text-align: right; }

tr.entry span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.entry.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}
tr.entry.file td.filename a { margin-left: 16px; }

tr.changeset td.author { text-align: center; width: 15%; }
tr.changeset td.committed_on { text-align: center; width: 15%; }

tr.message { height: 2.6em; }
tr.message td.last_message { font-size: 80%; }
tr.message.locked td.subject a { background-image: url(../images/locked.png); }
tr.message.sticky td.subject a { background-image: url(../images/sticky.png); font-weight: bold; }

tr.user td { width:13%; }
tr.user td.email { width:18%; }
tr.user td { white-space: nowrap; }
tr.user.locked, tr.user.registered { color: #aaa; }
tr.user.locked a, tr.user.registered a { color: #aaa; }

tr.time-entry { text-align: center; white-space: nowrap; }
tr.time-entry td.subject, tr.time-entry td.comments { text-align: left; white-space: normal; }
td.hours { text-align: right; font-weight: bold; padding-right: 0.5em; }
td.hours .hours-dec { font-size: 0.9em; }

table.plugins td { vertical-align: middle; }
table.plugins td.configure { text-align: right; padding-right: 1em; }
table.plugins span.name { font-weight: bold; display: block; margin-bottom: 6px; }
table.plugins span.description { display: block; font-size: 0.9em; }
table.plugins span.url { display: block; font-size: 0.9em; }

table.list tbody tr:hover { background-color:#ffffdd; }
table td {padding:2px;}
table p {margin:0;}
.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

.highlight { background-color: #FCFD8D;}
.highlight.token-1 { background-color: #faa;}
.highlight.token-2 { background-color: #afa;}
.highlight.token-3 { background-color: #aaf;}

/* @end */