th.number, td.number, th.right, td.right {
  text-align: right; }

th.member, td.member {
  text-align: left;
  min-width: 150px; }

th.attendance, td.attendance {
  text-align: right;
  min-width: 80px;
  max-width: 120px; }

th.date, td.date {
  text-align: left;
  min-width: 100px;
  max-width: 150px; }

th.lootfactor, td.lootfactor {
  text-align: right;
  min-width: 50px;
  max-width: 125px; }

th.image, td.image, th.checkbox, td.checkbox {
  text-align: center;
  min-width: 16px;
  max-width: 48px; }

th.center, td.center {
  text-align: center; }

th.fill, td.fill {
  width: 100%; }
