

.ui-tabs {
  padding: 0; }
  .ui-tabs .ui-tabs-nav {
    padding: 0.2em 0.2em 0 1.2em;
    position: relative; }
    .ui-tabs .ui-tabs-nav li {
      float: left;
      border-bottom: 0 !important;
      margin: 0 0.8em -1.0em 0;
      padding: 0;
      list-style-type: none;
      border-width: 1px;
      border-style: solid;
      border-color: #e4e4e4;
      background-color: #9e9e9e;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-topleft: 5px; }
      .ui-tabs .ui-tabs-nav li a {
        display: block;
        text-decoration: none;
        padding: 0.5em 1em; }
    .ui-tabs .ui-tabs-nav .ui-tabs-selected {
      padding-bottom: 0.1em;
      border-bottom: 0;
      background-color: #eeeeee; }
  .ui-tabs .ui-tabs-hide {
    display: none !important; }
