%h4 Most Common Drops
%table.list
  %thead
    %tr
      %th Item
      %th.number Loots
  %tbody
    - common_items.each do |item|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_item_with_stats(item)
        %td.number= h(item.loots_count)