%h4 Most Common Drops
%table.ipb_table
  %thead
    %tr
      %th Item
      %th.number Loots
  %tbody
    - common_items.each do |item|
      %tr{ :class => cycle('row1', 'row2') }
        %td= link_to_item_with_stats(item)
        %td.number= h(item.loots_count)