%h4= link_to_item_with_stats(Item.find_by_name("Fragment of Val'anyr")) + " Progress"
%table.list
  %thead
    %tr
      %th Member
      %th Progress
  %tbody
    - fragment_progress.each do |member_id,count|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_member(Member.find(member_id))
        %td.note
          = progress_bar(:width => count.to_f/30.00, :container_width => 80, :color => "#FF8000")
          %span.progress= count