%h4 Highest Turnover
%table.list
  %thead
    %tr
      %th Class
      %th.number Inactive
  %tbody
    - highest_turnover.each do |wow_class, percent|
      %tr{ :class => cycle('even', 'odd') }
        %td{ :class => wow_class }= wow_class.titlecase
        %td.number== #{number_with_precision(percent * 100.0, :precision => 2)}%