%h4 Most Wanted Items
%table.list
  %thead
    %tr
      %th Item
      %th.number Wishlists
  %tbody
    - most_wishlists.each do |item|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_item_with_stats(item)
        %td.number= h(item.wishlists_count)