%h4 Most Wanted Items
%table.ipb_table
  %thead
    %tr
      %th Item
      %th.number Wishlists
  %tbody
    - most_requested.each do |item_id, count|
      %tr{ :class => cycle('row1', 'row2') }
        %td= link_to_item_with_stats(Item.find(item_id))
        %td.number= h(count)
