%h2= breadcrumb('Account', 'Edit')

%fieldset
  %legend.hidden Edit Account
  
  - form_for @user, :url => account_path do |f|
    - unless f.error_messages.empty?
      .error= f.error_messages
      
    = render :partial => 'form', :object => f
    
    .buttons
      = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')