:javascript
  $(document).ready(function() {
    $('.help').tooltip({ showURL: false });
    wishlistEditLinks();
  });
%table#wishlists.ipb_table.tablesorter.as_member_wishlist
  %thead
    %tr
      %th.icon &nbsp;
      %th Item
      %th Priority
      %th Note
      %th Slot
      %th.image &nbsp;
  %tbody#wishlist
    - @wishlists.each do |wishlist|
      = render :partial => "wishlist_row", :object => wishlist, :locals => { :recent_loots => @recent_loots }
%br
#wishlist_form{ :style => "display: none" }= render :partial => 'form'
#wishlist_form_toggle
  %fieldset.submit= link_to('Add New Entry', new_member_wishlist_path(@member), :class => 'input_submit')
