.maintitle_base
  .header_left
    .header_right
      %h3.maintitle
        = # link_to('Toggle this category', '#', :class => 'toggle right', :title => 'Toggle this category') + # TODO: Make toggles work?
        = h(maintitle) if maintitle