- if admin?
  :javascript
    $(document).ready(function() {
      lootContextMenu();
    });
  %ul#lootContextMenu.contextMenu.hidden
    %li.edit= link_to('Edit Item', '#edit_item')
    %li.edit= link_to('Edit Loot', '#edit_loot')