:javascript
  $(document).ready(function() {
    $('#loot_item_name').autocomplete_items();
    $('#loot_member_name').autocomplete_members();
  });

- page_title 'Edit Loot'
- breadcrumb link_to('Loot', loots_path), 'Edit'
= semantic_form_for @loot do |form|
  = render :partial => 'form', :object => form
