:javascript
  $(document).ready(function() {
    addItemAutoComplete('#loot_item_name');
    addMemberAutoComplete('#loot_member_name');
  });
- breadcrumb link_to('Loot', loots_path), 'Edit'
- semantic_form_for @loot do |form|
  = render :partial => 'form', :object => form