#wishlist-form{ :style => "display: none" }
  %fieldset
    %legend.hidden Add Wishlist Entry
    - remote_form_for :wishlist, @wishlist, :url => wishlists_path, :html => { :method => :post } do |f|
      = render :partial => 'form', :object => f
      .buttons
        = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')
#wishlist-toggle.buttons
  = link_to_function(image_tag('add.png') + 'Add Entry', "$('#wishlist-form').show(); $('#wishlist_item_name').focus(); $('#wishlist-toggle').hide()")