#wishlist-new{ :style => "display: none" }
  %div.message.error.hide
  - semantic_remote_form_for :wishlist, @wishlist, :url => member_wishlists_path(@member), :html => { :method => :post } do |form|
    = render :partial => 'wishlists/form', :object => form
    - form.buttons :class => 'submit' do
      = form.submit 'Save', :class => 'input_submit'
      or
      = link_to_function('Cancel', "$('#wishlist-new').hide(); $('#wishlist-toggle').show()", :class => 'cancel')
#wishlist-toggle
  %fieldset.submit= link_to_function('Add Entry', 'wishlistAddForm()', :class => 'input_submit')