#wishlist-new{ :style => "display: none" }
  %fieldset
    %legend.hidden Add Wishlist Entry
    #errors.error.hidden
    - remote_form_for :wishlist, @wishlist, :url => member_wishlists_path(@member), :html => { :method => :post } do |f|
      = render :partial => 'wishlists/form', :object => f
      .buttons
        = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')
        = link_to_function(image_tag('cancel.png') + 'Cancel', "$('#wishlist-new').hide(); $('#wishlist-toggle').show()")
#wishlist-toggle.buttons
  = link_to_function(image_tag('add.png') + 'Add Entry', 'wishlistAddForm()')