%div.message.error.hide
- semantic_remote_form_for :wishlist, @wishlist, :url => member_wishlist_path(@member, @wishlist), :html => { :method => :put } do |form|
  = render :partial => 'wishlists/form', :object => form
  - form.buttons :class => 'submit' do
    = form.submit 'Save', :class => 'input_submit'
    or
    = link_to_function('Cancel', "$('#wishlist-edit').hide(); $('#wishlist-toggle').show()", :class => 'cancel')