:javascript
  auth_token = '#{form_authenticity_token}';
  
  $(document).ready(function() {
    sortWishlistTable();

    wishlistEditablePriority();
    wishlistEditableNote();
  });
%h2= breadcrumb('Wishlists')
%table#wishlists.list.tablesorter
  %thead
    %tr
      %th Member
      %th Priority
      %th Item
      %th Note
      %th.image &nbsp;
  %tbody#wishlist
    - @wishlists.each do |wishlist|
      = render :partial => "wishlist_row", :object => wishlist
%br
= render :partial => 'form_inline'