%h2=breadcrumb link_to('Members', members_path), link_to_member(@member), 'Punishments', 'Edit'
%fieldset
  %legend.hidden Edit Punishment
  
  - form_for @punishment, :url => member_punishment_path(@member, @punishment) do |f|
    - unless f.error_messages.empty?
      .error= f.error_messages
      
    = render :partial => 'form', :object => f
    
    .buttons
      = styled_button(:type => 'submit', :text => 'Save', :image => 'tick.png')
      = link_to_delete(:path => member_punishment_path(@member, @punishment))