- breadcrumb link_to('Members', members_path), link_to_member(@member), 'Punishments', 'New'
- semantic_form_for @punishment, :url => member_punishments_path(@member) do |form|
  = render :partial => 'form', :object => form