%table.ipb_table
  %thead
    %tr
      %th &nbsp;
      %th Title
      %th.date Completed On
  %tbody
    - @achievements.each do |ach|
      %tr{ :class => cycle('row1', 'row2') }
        %td.icon= achievement_icon(ach)
        %td= h(ach.title)
        %td= h(member_completed_achievement(ach, @member))