%table.list
  %thead
    %tr
      %th Name
      %th.date Raid
      %th.number Price
  %tbody
    - @member.items.each do |item|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to_item_with_stats(item)
        %td.date= link_to h(item.raid.date), raid_path(item.raid) unless item.raid.nil?
        %td.number= number_with_precision(item.adjusted_price, :precision => 2)