:javascript
  $(document).ready(function() {
    $('#itemfilter span.filter').click(function() {
      toggleItemTypes(this);
    });
  });
%table.list
  %thead
    %tr
      %th Name
      %th Notes
      %th.date Raid
      %th.number Price
  %tbody#itemfilter
    - @member.items.each do |item|
      %tr{ :class => cycle('even', 'odd') + ' ' + item_row_classes(item) }
        %td= link_to_item_with_stats(item)
        %td= item_tell_types(item)
        %td.date= link_to h(item.raid.date), raid_path(item.raid) unless item.raid.nil?
        %td.number= number_with_precision(item.adjusted_price, :precision => 2)