:javascript
  $(document).ready(function() {
    sortWishlistTable();
    $('#wishlist_item_name').autocomplete('/search/items.ac', {
      minChars: 2,
      autoFill: true
    });
  });
%table#wishlists.list.tablesorter
  %thead
    %tr
      %th Item
      %th Priority
      %th Note
      %th Slot
      %th.image &nbsp;
  %tbody#wishlist
    - @wishlists.each do |wishlist|
      = render :partial => "wishlists/wishlist_row", :object => wishlist
%br
#wishlist-edit{ :style => "display: none" }'
= render :partial => 'wishlists/form_inline'